name: Clippy check - lint Spindalis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate-target:
          - { crate: spindalis }
          - { crate: spindalis_core }
          - { crate: spindalis_macros }
    steps:
      - uses: actions/checkout@v5
      - name: Run Clippy
        working-directory: ./${{ matrix.crate-target.crate }}
        run: cargo clippy --all-targets --all-features
