name: Clippy check - lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: [spindalis, spindalis_core, spindalis_macros]

    steps:
      - uses: actions/checkout@v5
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -p ${{ matrix.package }}
