name: Build and test Spinalis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate-target:
          - { crate: spindalis }
          - { crate: spindalis_core }
          - { crate: spindalis_macros }

    steps:
    - uses: actions/checkout@v4
    - name: Build
      working-directory: ./${{ matrix.crate-target.crate }}
      run: cargo build --verbose
    - name: Run tests
      working-directory: ./${{ matrix.crate-target.crate }}
      run: cargo test --verbose
